/* メディアクエリ　大き目のタブレット(ipad pro)向け */
@media screen and (max-width:1280px){
.menu ul{
	flex-wrap:wrap;
}

.food_section{
	flex-wrap:wrap;
}

.side_box{
	width: 650px;
    height: 350px;
}

.side_box h2{
	margin-top:10px;
}

.side_inner{
	padding:initial;
}

}

/* メディアクエリ モバイル向け*/
@media screen and (max-width:768px){
	
body{
	width:1000px;
	/* max-width:1000px; */
}

p{
	font-size:2rem;
}

/* ここから見出しセクション */
.icon{
	display:none;
}

header h1{
	margin:40px auto;
	font-size:3.3rem;
}

.menu{
	margin:auto;
	margin-right:20px;
}

.menu ul{
	padding:initial;
	font-size:2.2rem;
	font-weight:bold;
}

.menu li{
    margin:0 20px;
	padding:15px 15px 7px 15px;
}

.top_img{
	height:initial;
}

.top_article br{
	display:none;
}

.top_article p{
	font-size:4.5rem;
	line-height:initial;
}

.top_title{
	text-align:center;
}

.top_title h1{
	font-size:7rem;
}


.top_article p{
	text-align:justify;
}

.top_section h2{
	font-size:5rem;
	margin:80px 0 60px 0
}

/* サブ見出しセクション */
.sub_article{
	display:block;
}

.sub_article div{
	text-align:center;
	padding:none;
}

.sub_article h3{
	border-left:none;
	margin:30px 0;
	font-size:5rem;
}

.sub_article img{
	width:80%;
	margin:0 10%;
}

.left div{
	padding:initial;
}

.right div{
	padding:initial;
}

/* ここからoptionメニュー */
.option{
	display:initial;
}

.option_menu h2{
	font-size:6rem;
}

.service_imgs{
	margin:0 15px;
}

.service_imgs h3,.service_imgs h2{
	font-size:5rem;
}

.service_imgs p{
	font-size:4.5rem;
	padding-bottom:60px;
}

.reserve_icon{
	display:none;
}

/* ここからfoodメニュー*/
.food_option{
	display:initial;
}

.food_option h1{
	border-bottom:none;
	padding:initial;
	text-align: center;
	font-size:7rem;
}

.food_section{
	width:100%;
}

.food_imgs ul{
	justify-content:center;
}

/* サイドメニュー */
.side_box{
	margin:0 auto;
	height:initial;
	padding:20px;
	width:initial;
	border:none;
	border-radius:initial;
	position:static;
	transform:none;
}

.side_box h2{
	margin:40px 0;
	font-size:5rem;
}

.side_box p{
	text-align:justify;
	font-size:4rem;
	line-height:5.5rem;
}

.side_box a{
	margin:30px auto;
	padding:30px 0;
	width:50%;
	font-size:3.5rem;
}

.side_box br{
	display:none;
}

.side_inner{
	padding:0;
}

/* ここからhotelセクション */
.hotel_option h1{
	border-bottom:none;
	padding:initial;
	text-align:center;
	font-size:7rem;
}

.hotel_top{
	margin:100px 0;
	padding:40px 0 0 0;
	flex-direction:column;
}

.hotel_top img{
	width:initial;
}

.hotel_top p{
	font-size:4rem;
	line-height:6.5rem;
}

.hotel_top h2{
	font-size:5rem;
}

.hotel_top div{
	padding:60px;
}

/* 画像とテキストの入れ替え */
.order_1{
	order:2;
}

.order_1 br{
	display:none;
}

.hotel_facility h2{
	font-size:5rem;
}

.hotel_facility img{
	width:720px;
    height:480px;
}

.hotel_imgs p{
	font-size:5rem;
}

.price{
	border:initial;
	border-bottom:solid 1px white;
	width:50%;
}

.price span{
	font-size:4rem;
}

/* ホテル予約メニュー */
.hotel_reserve{
	display:initial;
}

.room_type{
	padding:20px 15px;
	width:initial;
	font-size:2.4rem;
}

.room_type h2{
	padding:20px 0 30px 0;
	text-align:center;
	font-size:5rem;
}

.room_type ul{
	margin:initial;
	text-align: center;
	font-size:4rem;
}

.room_type li{
	margin:auto;
}

.button_box{
	width:initial;
	padding:20px 0 10px 0;
}

.button_box p{
	font-size:4.5rem;
}

.hotel_section a{
	width:50%;
	margin:30px auto;
	padding:30px 0;
	font-size:3.5rem;
}

/* ここからactivityセクション */
.activity_option{
	margin:initial;
}

.activity_option h1{
	border-bottom:none;
	padding:initial;
	text-align: center;
	font-size:7rem;
}

/* 背景画像の変更 */
.activity_imgs{
	height:initial;
	background-image:url(../images/activity_option_img/activity_2.jpg);
}

.activity_imgs br{
	display:none;
}

.activity_imgs p{
	font-size:3rem;
	text-align:justify;
	justify-content:center;
}

.activity_imgs a{
	width:50%;
	padding:30px 0;
	font-size:3.5rem;
}

/* ここからフッダーメニュー */

.footer_menu{
	padding:initial;
	padding:30px 0;
}

.footer_menu li{
	padding:0 30px;
	font-size:2.8rem;
	font-weight:bold;
}

.footer_menu ul{
	justify-content:center;
}

} 